/* Page background */
.heading {
    display: flex;
    justify-content:flex-start;
    align-content:flex-start;
}
.form-container {
    background-color: #e0f7e5; /* Light green background outside the form */
    max-width: fit-content;
    display: flex;
    justify-content: center;
    align-content: center;
    padding:100px;
    margin:0 auto;
 }

/* contact form*/
.contact-form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff; /* White background for the form */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    max-width: 600px; /* Maximum width of the form */
    width: 100%; /* Full width */
    padding: 20px;
    margin: 0 auto; /* Center the form */
}



/* Name fields styling */
.name-fields {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between; /* Space out the name fields */
}

.form-field {
    flex: 1; /* Allow the form field to grow */
    margin-right: 10px; /* Space between fields */
}




/* Mat form field styles */
mat-form-field {
    width: 100%; /* Make fields take the full width */
    min-height: 56px; /* Set a minimum height for consistency */
}

mat-form-field input,
mat-form-field textarea {
    padding: 12px;
    font-size: 16px;
    width: 100%; 
    resize: vertical;
    
}

/* Radio group and buttons */
.radio-group {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.form-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333
 }

/* Form labels and error handling */
mat-label {
    font-weight: bold; /* Bold labels */
    color: #333; /* Darker label color */
}

.required {
    color: red; /* Color for required indicators */
}

.mat-error {
    font-size: 0.875rem; /* Smaller font for error messages */
    color: red; /* Error text color */
}

/* Submit button styling */
.submit-btn {
    background-color: #28a745; /* Green submit button */
    width: 100%; /* Button should fill the width */
    padding: 5px;
    font-size: 1.1rem;
    border-radius: 4px;
    color: white;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #218838; /* Darker green on hover */
}


.success-message {
    color: green;
    margin-top: 1rem;
  }

/*resposnive styles*/

@media only screen and (max-width: 600px) {
   .contact-form {
        width: 90%; /* Reduce the form width on smaller screens */
    }
}

/* Mobile screens (up to 600px) */
@media screen and (max-width: 600px) {
    .contact-form {
      padding: 0.5rem;
      gap: 0.5rem;
    }
}